@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
/*  */
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

:root {
    --textColor: #0E222C;
    --teamColor: #bd1818;
    --backgroundColor: #F4F4F4;
}

/* Navbar section */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 30px 100px;
    z-index: 1000;
    font-family: "Sen", sans-serif;
}

header.sticky {
    padding: 10px 80px 1px 80px;
    background-color: #fff;
    box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
}

header .logo {
    position: relative;
    color: var(--textColor);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.6s;
}

.logo img {
    height: 50px;
}

.nav__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    position: relative;
    list-style: none;
}

.nav__item a {
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    transition: 0.6s;
}

.nav__link {
    padding: 10px;
    color: #0E222C;
    font-weight: 600;
}

.header__close,
.header__toggle {
    display: none;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000000;
}

.nav__list a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav__list a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--teamColor);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav__list a:hover:after {
    width: 100%;
    left: 0;
}

/* banner section css */

.banner-section {
    background-image: url('images/banner-img.avif');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.banner-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.712);
}

.head-line {
    display: flex;
    align-items: center;
}

.line {
    height: 2px;
    width: 60px;
    background-color: var(--teamColor);
}

.head-line h4 {
    margin: 0px 0px 0px 25px;
    color: var(--teamColor);
    font-family: "Sen", sans-serif;
}

.banner-section h1 {
    color: #fff;
    font-family: "GFS Didot", serif;
}

.banner-section p {
    color: #ffffff;
    font-family: "Sen", sans-serif;
}

.banner-btn button {
    padding: 5px 20px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #000000;
    font-weight: 500;
    transform: 0.3s;
    font-family: "Sen", sans-serif;
}

.banner-btn button:hover {
    background-color: transparent;
    color: var(--teamColor);
    border: 1px solid var(--teamColor);
    transition: 0.3s;
    padding: 5px 20px;
}

/* about-section css */

.about-section {
    background-color: #ffffff;
    height: 100%;
    padding: 100px 0px 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-data {
    height: 100%;
    display: flex;
    align-items: center;
}

.about-section h2 {
    font-family: "GFS Didot", serif;
    color: #000000 !important;
}

.about-section p {
    font-family: "Sen", sans-serif;
    color: #353535;
    text-align: justify;
}

.about-card {
    margin-top: 70px;
}

.about-card .card {
    background-color: transparent;
    border: 0px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.about-card .card h4 {
    font-family: "GFS Didot", serif;
    color: #000000;
}

.about-card .card i {
    color: #000000;
    font-size: 26px;
}

/* service-section css */

.service-section {
    margin-top: 0px;
    background-color: #fff;
    padding: 50px 0px 100px 0px;
    height: 100%;
}

.service-section .head {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.service-section .head h2 {
    font-family: "GFS Didot", serif;
    color: #000;
}

.service-section .head p {
    color: #353535;
    font-family: "Sen", sans-serif;
}

.service-section .card {
    background-color: transparent;
    border: 0px;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.service-section .card h4 {
    font-family: "GFS Didot", serif;
    color: #000000;
}

.service-section .card p {
    font-family: "Sen", sans-serif;
    color: #353535;
    text-align: justify;
}

.service-section .card i {
    color: #000000;
    font-size: 26px;
}

/* contact-section css */
.contact-section {
    margin-top: 100px;
}

.contact-section h2 {
    font-family: "GFS Didot", serif;
    color: #000000;
    text-align: center;
}

.contact-section .card {
    border: 0px;
}

.contact-bg-1 {
    background-color: var(--backgroundColor);
    border-radius: 0px 10px 10px 0px;
    padding: 40px 10px 40px 40px;
}

.contact-bg {
    height: auto;
    background-color: #000;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 40px 10px 40px 40px;
    position: relative;
}

.contact-bg h3 {
    font-family: "GFS Didot", serif;
    color: #fff;
}

.contact-bg p {
    font-family: "Sen", sans-serif;
    color: #C9C9C9;
}

.contact-info {
    display: flex;
}

.social-media {
    display: flex;
    position: absolute;
    bottom: 30px;
}

.social-media a {
    text-decoration: none;
    color: #000000;
}

.round {
    height: 35px;
    width: 35px;
    background-color: var(--backgroundColor);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: 0.3s;
}

.round:hover {
    background-color: var(--teamColor);
    transition: 0.3s;
    color: #fff;
}

form {
    padding: 10px 30px;
}

form label {
    color: #8D8D8D;
    font-size: 14px;
    font-family: "Sen", sans-serif;
}

form input {
    background-color: transparent !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 1px solid #8D8D8D !important;
    border-radius: 0px !important;
}

form h6 {
    font-family: "Sen", sans-serif;
    color: #000000;
}

.form-check-label {
    color: #000000;
    font-family: "Sen", sans-serif;
    font-size: 12px !important;
    font-weight: 600;
}

.service-items {
    display: flex;
    flex-wrap: wrap;
}

.parent-send-btn {
    text-align: right;
}

.send-btn button {
    background-color: #011C2B;
    padding: 10px 30px;
    border: 0px;
    border-radius: 8px;
    color: #fff;
    font-family: "Sen", sans-serif;
    transform: 0.3s;
}

.send-btn button:hover {
    background-color: var(--teamColor);
    transition: 0.3s;
}

/* footer-section css */

.footer-section {
    margin-top: 100px;
    background-color: #000000;
    height: auto;
    font-family: "Sen", sans-serif;
    color: #fff;
    padding: 40px 0px;
}

.footer-section h5 {
    margin-top: 75px;
}

.footer-section img {
    height: 70px;
}

.footer-section ul {
    margin: 0;
    padding: 0;
}

.footer-section ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 20px 0px 0px 0px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #fff;
    transform: 0.3s;
}

.footer-section ul li a:hover {
    transition: 0.3s;
    color: var(--teamColor);
    letter-spacing: 1px;
}

.footer-social {
    display: flex;
}

.footer-social a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transform: 0.3s;
}

.footer-social a:hover {
    color: var(--teamColor);
    transition: 0.3s;
}

.innerix {
    text-align: center;
    font-family: "Sen", sans-serif;
    margin-top: 30px;
}

/* media query starting */
@media all and (min-width:1300px) {

    .banner-section h1 {
        font-family: "GFS Didot", serif;
        color: #fff;
        font-size: 70px;
    }

    .about-section h2 {
        font-size: 60px;
        font-family: "GFS Didot", serif;
        color: #fff;
    }
}

@media all and (max-width:900px) {

    /* navbar css */
    body {
        overflow-x: hidden;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    header {
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }

    .logo a {
        font-size: 0.9rem;
    }

    .header__toggle {
        display: inline;
        color: #fff;
        font-size: 24px;
    }

    header.sticky .header__toggle {
        display: inline;
        color: #000000;
        font-size: 24px;
    }

    .header__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        z-index: 1000;
        color: #000000;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--backgroundColor);
        color: #000000ee;
        width: 40%;
        height: 100vh;
        padding: 24px 0;
        z-index: 1000;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
        z-index: 1000;
    }

    header.sticky {
        padding: 10px 80px 15px 80px;
        background-color: #ffffff;
        box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
    }

    header.sticky .nav__item a {
        color: #000000;
    }

    header .logo {
        position: relative;
        color: var(--textColor);
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.6s;
    }

    .logo img {
        height: 40px;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
    }

    .show {
        right: 0;
    }

    .nav__item a {
        color: #000000;
    }

    .nav__item {
        margin: 2rem 0;
    }

    .nav__list a {
        text-decoration: none;
        display: inline-block;
        position: relative;
    }

    .nav__list a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: var(--teamColor);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    /* banner section css */

    .banner-section {
        background-image: url('images/banner-img.avif');
        background-position: center;
        background-size: cover;
        height: 50vh;
        display: flex;
        align-items: center;
    }

    br {
        display: none;
    }

    /* about-section css */

    .line {
        height: 2px;
        width: 60px;
        background-color: var(--teamColor);
        margin-top: 30px;
    }

    .head-line h4 {
        margin: 0px 0px 0px 25px;
        color: var(--teamColor);
        font-family: "Sen", sans-serif;
        margin-top: 30px;
    }

    /* upholstery-section css */

    .upholstery-section .head {
        width: 97%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /* service-section css */

    .service-section .head {
        width: 97%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /* work-collection-section css */

    .work-collection-section p {
        font-family: "Sen", sans-serif;
        color: #191919;
        text-align: center;
        width: 97%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        background: #1919197c;
        color: #f1f1f1;
        transition: .5s ease;
        opacity: 0;
        color: white;
        padding: 10px;
        width: 93%;
        font-family: "Sen", sans-serif;
    }

    /* ourClient-section css */

    .ourClient-section {
        margin-top: 100px;
        background-color: #191919;
        padding: 50px 0px 50px 0px;
        height: 100%;
    }

    /* contact-section css */
    .contact-bg {
        height: auto;
        background-color: #000;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        padding: 40px 10px 130px 40px;
        position: relative;
    }

    .social-media {
        display: flex;
        position: fixed;
        bottom: 30px;
    }

    /* footer-section css */

    .footer-section {
        margin-top: 100px;
        background-color: #000000;
        height: auto;
        font-family: "Sen", sans-serif;
        color: #fff;
        padding: 20px 0px 10px 0px;
    }

    .footer-section img {
        height: 40px;
    }

    .footer-section h5 {
        margin-top: 35px;
    }

    .footer-section ul li {
        list-style: none;
        margin: 0;
        padding: 0;
        margin: 10px 0px 0px 0px;
    }

    .innerix {
        text-align: center;
        font-family: "Sen", sans-serif;
        margin-top: 20px;
    }
}

@media all and (max-width:768px) {

    /* navbar css */
    body {
        overflow-x: hidden;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    .logo img {
        height: 35px;
    }

    header {
        height: auto;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
    }

    .logo a {
        font-size: 0.9rem;
    }

    .header__toggle {
        display: inline;
        color: #ffffffee;
        font-size: 26px;
    }

    .header__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        z-index: 1000;
        color: #000000;
    }

    .nav__item a {
        color: #000000;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--backgroundColor);
        color: #eeee;
        width: 100%;
        height: 100vh;
        padding: 24px 0;
        z-index: 1000;
        transition: 0.5s;
        border-radius: 0 0 0 0%;
        z-index: 1000;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        margin-left: 20%;
    }

    .show {
        right: 0;
    }

    .nav__item {
        margin: 1.5rem 0;
    }

    header.sticky {
        padding: 10px 10px 10px 10px;
        background-color: #ffffff;
        box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
    }

    /* banner section css */

    .banner-section {
        background-image: url('images/banner-img.avif');
        background-position: center;
        background-size: cover;
        height: 90vh;
        display: flex;
        align-items: center;
    }

    .line {
        height: 2px;
        width: 30px;
        background-color: var(--teamColor);
        margin-top: -2px;
    }

    .head-line h4 {
        margin: 0px 0px 0px 10px;
        color: var(--teamColor);
        font-family: "Sen", sans-serif;
        font-size: 18px;
    }

    /* about-section css */

    .about-section {
        background-color: #ffffff;
        height: 100%;
        padding: 30px 0px 30px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-section img {
        margin-bottom: 30px;
    }

    .about-section .card p {
        text-align: center;
    }

    .about-card {
        margin-top: 0px;
    }

    /* upholstery-section css */

    .upholstery-section {
        margin-top: 70px;
    }

    .upholstery-section .head {
        width: 97%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /* service-section css */

    .service-section {
        margin-top: 70px;
        background-color: #ffffff;
        padding: 30px 0px 30px 0px;
        height: 100%;
    }

    .service-section .head {
        width: 97%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .service-section .card p {
        font-family: "Sen", sans-serif;
        text-align: center;
    }

    /* work-collection-section css */

    .work-collection-section {
        margin-top: 70px;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        background: #1919197c;
        color: #f1f1f1;
        transition: .5s ease;
        opacity: 0;
        color: white;
        padding: 10px;
        width: 93%;
        font-family: "Sen", sans-serif;
    }

    /* ourClient-section css */

    .ourClient-section {
        margin-top: 70px;
        background-color: #191919;
        padding: 30px 0px 30px 0px;
        height: 100%;
    }

    /* contact-section css */
    .contact-section {
        margin-top: 70px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .contact-bg {
        height: auto;
        width: 100%;
        background-color: #000;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        padding: 40px 10px 130px 40px;
        position: relative;
    }

    .contact-bg-1 {
        background-color: var(--backgroundColor);
        border-radius: 0px 10px 10px 0px;
        padding: 10px;
    }

    form {
        padding: 10px 10px;
    }

    /* footer-section css */

    .footer-section {
        margin-top: 70px;
        background-color: #000000;
        height: auto;
        font-family: "Sen", sans-serif;
        color: #fff;
        padding: 15px 0px 10px 0px;
    }

    .footer-section h5 {
        margin-top: 20px;
    }

    .footer-section ul li {
        list-style: none;
        margin: 0;
        padding: 0;
        margin: 10px 0px 0px 0px;
    }

    .innerix {
        text-align: center;
        font-family: "Sen", sans-serif;
        margin-top: 10px;
    }
}